<mt:setvarblock name="page_title">
    Performance Profile: 
    <a href="<mt:Var name="script_url">?__mode=view&amp;_type=template&amp;id=<mt:Var name="template_id">&amp;blog_id=<mt:Var name="blog_id">">
        <mt:var name="template_name">
    </a>
</mt:setvarblock>
<mt:SetVarBlock name="screen_group">design</mt:SetVarBlock>

<mt:setvarblock name="html_head" append="1">
    <script type="text/javascript" src="<mt:StaticWebPath>support/plugins/profiler/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $("table.listing-table").tablesorter({
            // Sort on the second column (time) in descending order.
            sortList: [[1,1]]
        });
        $("table.listing-table").bind("sortEnd",function() {
          var count = 0;
          $("table.listing-table tr").each( function() {
            if (count++ % 2 == 0) {
              $(this).removeClass('odd').addClass('even');
            } else {
              $(this).removeClass('even').addClass('odd');
            }
          });
        });
    });
    </script>
    <style type="text/css">
        .content-nav #main-content .msg { margin-left: 0px; }
        #main-content th.header {
            cursor: pointer;
            background-image: url(<mt:StaticWebPath>support/plugins/profiler/bg.gif);
            background-repeat: no-repeat;
            background-position: center right;
        }
        th.headerSortUp {
          background-image: url(<mt:StaticWebPath>support/plugins/profiler/asc.gif);
        }
        th.headerSortDown {
          background-image: url(<mt:StaticWebPath>support/plugins/profiler/desc.gif);
        }
    </style>
</mt:setvarblock>

<mt:setvarblock name="related_content">
    <mtapp:Widget
        id="legend"
        label="<__trans phrase="Key">">
        <ul>
            <li>
                <strong>Time</strong><br />
                The total time spent processing all calls to the tag.
            </li>

            <li>
                <strong>Calls</strong><br />
                The number of times the tag was encountered and processed.
            </li>
            <li>
                <strong>Avg.</strong><br />
                The average time it took to process each tag.
            </li>
            <li>
                <strong>Queries</strong><br />
                The number of database queries each tag generated.
            </li>
            <li>
                <strong>Hits and Misses</strong><br />
                The number of times the tag output could or could not be
                pulled from the in-memory cache without additional requiring
                additional compilation and processing.
            </li>
        </ul>
        <p>
            If you have questions, problems or feature requests, please go to
            <a href="http://help.endevver.com">help.endevver.com</a> and let
            us know!
        </p>
    </mtapp:Widget>
</mt:setvarblock>

<mt:Include name="include/header.tmpl">

<p>
    This report summarizes the publishing performance for all template
    tags found during in the template (and its includes such as Modules
    and Widgets).
</p>

<div id="selector" class="selector listing list-data">
    <table class="legacy listing-table list-heading">
        <mt:SetVarBlock name="table_header">
            <tr>
                <th class="col head primary tag">
                    <span class="col-label"><__trans phrase="Tag"></span>
                </th>
                <th class="col head time">
                    <span class="col-label"><__trans phrase="Time"></span>
                </th>
                <th class="col head calls">
                    <span class="col-label"><__trans phrase="Calls"></span>
                </th>
                <th class="col head average">
                    <span class="col-label"><__trans phrase="Average"></span>
                </th>
                <th class="col head queries">
                    <span class="col-label"><__trans phrase="Queries"></span>
                </th>
                <th class="col head hits">
                    <span class="col-label"><__trans phrase="Cache Hits"></span>
                </th>
                <th class="col head misses">
                    <span class="col-label"><__trans phrase="Cache Misses"></span>
                </th>
            </tr>
        </mt:SetVarBlock>
        <thead>
            <mt:Var name="table_header">
        </thead>
        <tfoot>
            <mt:Var name="table_header">
        </tfoot>

        <tbody>
<mt:loop name="rows">
            <tr id="entry-<mt:var name="id">" class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                <td class="col tag">
                    <mt:Var name="tag" escape="html">
                </td>
                <td class="col time">
                    <mt:Var name="time" escape="html">
                </td>
                <td class="col calls">
                    <mt:Var name="calls" escape="html">
                </td>
                <td class="col average">
                    <mt:Var name="avg" escape="html">
                </td>
                <td class="col queries">
                    <mt:Var name="queries" escape="html">
                </td>
                <td class="col hits">
                    <mt:Var name="hits" escape="html">
                </td>
                <td class="col misses">
                    <mt:Var name="misses" escape="html">
                </td>
            </tr>
</mt:loop>
        </tbody>

    </table>
</div>


<$mt:include name="include/footer.tmpl"$>
